<mat-card class="apoderado-dashboard-welcome mat-elevation-z2">
  <h1>Bienvenido, Apoderado</h1>
  <div>
    Desde este panel puedes:
    <ul>
      <li>Visualizar y gestionar los pagos de matrícula y mensualidades de tus estudiantes.</li>
      <li>Matricular a un nuevo estudiante si lo deseas.</li>
      <li>Ver el estado de validación de tus pagos (pendiente, pagado, inválido).</li>
      <li>Contactar al administrador si tienes dudas.</li>
    </ul>
    Usa el menú superior para navegar entre las secciones.
  </div>
  <mat-divider></mat-divider>
  <app-celular-admin></app-celular-admin>
</mat-card>
<router-outlet></router-outlet>
